html {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Bellota', cursive;
    font-size: 26pt;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0;
}

h1 {
    font-size: 15pt;
    color: #ffffff;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
  
h1 span {
    border: 8px solid #666666;
    border-radius: 8px;
    background-image: url("https://media.giphy.com/media/KVZWZQoS0yqfIiTAKq/giphy.gif");
    padding: 12px;
}

p {
    padding: 0;
    margin: 0;
    color: #000000;
}
  
.img-circle {
    border: 8px solid white;
    border-radius: 50%;
}
  
.section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
}
  
#header {
    background-image: url("https://media.giphy.com/media/KVZWZQoS0yqfIiTAKq/giphy.gif");
    background-size: cover;
}
  
#header img {
    display: block;
    width: 500px;
    height: 500px;
    margin: auto;
}
  
#header p {
    font-size: 60pt;
    color: #ffffff;
    padding-top: 8px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
  
.quote {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px;
    color: grey;
}
  
#res {
    text-align: center;
    margin: 50px auto;
}
  
#res a {
    margin: 20px 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
  }
  
.selected {
    background-color: #f36f48;
    font-weight: bold;
    color: white;
}